:root {
  --primary-color-text: #7d3780;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f7fe;
}
.backgroung-heading {
  padding: 200px;
}
.navbar {
  background-color: #f9f7fe;
}
.navbar-brand {
  font-size: 20px;
}
.navbar-nav {
  font-size: 16px;
}
h1 {
  font-size: 50px;
  margin: 20px;
  font-weight: 400 !important;
  letter-spacing: 0.1em;
}
h2 {
  font-size: 35px;
  color: var(--primary-color-text);
  font-weight: 300;
}
h3 {
  font-size: 20px;
  color: var(--primary-color-text);
  opacity: 0.8;
  font-weight: 300;
}
h4 {
  font-size: 35px;
  color: var(--primary-color-text);
  font-weight: 400;
}
.contact-about {
  display: flex;
  justify-content: center;
  font-size: 15px;
}
.contact-about a {
  margin: 15px;
}
.link-primary {
  border: 1px solid var(--primary-color-text);
  background-color: var(--primary-color-text);
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(85 28 96);
  cursor: pointer;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}
.link-primary:hover {
  transform: scale(1.1);
  opacity: 0.8;
  color: white;
  text-decoration: none;
}
.link-secondary {
  border: 1px solid var(--primary-color-text);
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: -5px 5px 5px rgb(131 72 143);
  cursor: pointer;
  color: var(--primary-color-text);
  text-transform: capitalize;
  background-color: white;
  text-decoration: none;
}
.link-secondary:hover {
  transform: scale(1.1);
  opacity: 0.8;
  text-decoration: none;
  color: var(--primary-color-text);
}
.app-link {
  font-size: 12px;
}
.container {
  max-width: 1000px;
}
.border {
  color: var(--primary-color-text) !important;
  border-radius: 15px;
}
p {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.contact-me {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}
.email-contact {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.contact-me-icon {
  font-size: 25px;
  text-align: center;
}
.contact-link {
  text-decoration: none;
}
.row {
  background: linear-gradient(0.25turn, #dbf7efa3, #f4ffec, #fff2e3d1);
  border-radius: 15px;
  max-height: 600px;
}
img {
  box-shadow: 0px 0px 10px 0px rgba(199, 199, 199, 0.5);
}
@media (max-width: 576px) {
  body {
    margin-top: 60px;
    text-align: center;
  }
  .backgroung-heading {
    padding: 0px;
  }
  .navbar-brand {
    font-size: 15px;
  }
  .navbar-nav {
    font-size: 10px;
  }
  h1 {
    font-size: 30px;
    line-height: 1.5;
    margin: 10px auto;
  }
  h2 {
    font-size: 25px;
    margin: 10px auto;
  }
  h3 {
    font-size: 18px;
  }
  .contact-about {
    font-size: 13px;
  }
  .app-link {
    font-size: 12px;
  }
  p {
    font-size: 15px;
    line-height: 1.1;
  }
  .img-on-contact-page {
    width: 290px;
  }
  .row {
    margin: 30px;
  }
  .contact-me {
    font-size: 30px;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 914px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  body {
    margin-top: 60px;
    text-align: center;
  }
  .backgroung-heading {
    padding: 0px;
  }
  .navbar-brand {
    font-size: 15px;
  }
  .navbar-nav {
    font-size: 10px;
  }
  h1 {
    font-size: 30px;
    line-height: 1.5;
    margin: 10px auto;
  }
  h2 {
    font-size: 25px;
    margin: 10px auto;
  }
  h3 {
    font-size: 18px;
  }
  .contact-about {
    font-size: 13px;
  }
  .app-link {
    font-size: 12px;
  }
  p {
    font-size: 15px;
    line-height: 1.1;
  }
  .img-on-contact-page {
    width: 290px;
  }
  .row {
    margin: 30px;
  }
  .contact-me {
    font-size: 30px;
  }
}
