:root {
  --primary-color-text: #5b2e5de3;
  --box-shadow: 0px 0px 10px 0px rgba(97, 66, 93, 0.357);
}
.page-about {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/back-page.png");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-work {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/back-work.png");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-contact {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/back-contact.png");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: #ffffffca;
  height: 55px;
}
.navbar-brand {
  font-size: 20px;
}
.navbar-nav {
  font-size: 16px;
}
.content-container {
  padding: 160px 20px 50px 20px;
}
.content h1 {
  font-size: 45px;
  font-weight: 400 !important;
  letter-spacing: 0.1em;
}
.content h1.work-page {
  font-size: 35px;
}
.content h1.contact-page {
  font-size: 35px;
  margin-bottom: 60px;
}
.content h2 {
  font-size: 25px;
  color: var(--primary-color-text);
  opacity: 0.7;
  font-weight: 300;
  margin-top: 40px;
}
.content h3.work-page {
  font-size: 25px;
  color: var(--primary-color-text);
  font-weight: 400;
}
.content p {
  font-size: 18px;
  font-weight: 300;
}
.content p.contact-page {
  margin-bottom: 40px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 300;
}
footer h4 {
  font-weight: 400;
}
footer p {
  color: var(--primary-color-text);
}
.img-about-page {
  max-width: 350px;
  border-radius: 5px;
  justify-content: right;
}
.btn-works {
  width: 165px;
  margin-top: 65px;
  background-color: var(--primary-color-text);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.btn-works:hover {
  transform: scale(1.05);
  opacity: 0.8;
  color: white;
  text-decoration: none;
}
.contact-box {
  background-color: rgba(255, 255, 255, 0.12);
  padding: 20px;
  border-radius: 5px;
}
.email-contact {
  font-size: 22px;
}
.contact-me-icon {
  font-size: 30px;
  text-align: center;
}
footer .btn-works {
  margin-top: 10px;
}
footer .contact-link {
  text-decoration: none;
  color: black;
}
footer .contact-link:hover {
  color: #ed5b69;
}
.footer-img {
  width: 35px;
}
footer .social-links a {
  margin: 0 20px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  transform: scale(1.2);
  background-color: #5b2e5d69;
}
@media (max-width: 950px) {
  body {
    margin-top: 60px;
    text-align: center;
    background-position: center;
  }
  .navbar {
    height: 55px auto;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .navbar-nav {
    font-size: 15px;
  }
  .navbar-collapse {
    background-color: #ffffffe2;
    border-radius: 5px;
  }
  .content-container {
    padding: 20px 0px;
  }
  .content h1 {
    font-size: 30px;
    margin: 10px auto;
  }
  .content h1.work-page {
    font-size: 28px;
    letter-spacing: 1px !important;
  }
  .content h2 {
    font-size: 20px;
    margin: 15px auto;
  }
  .content p {
    font-size: 15px;
    line-height: 1.1;
  }
  .btn-works {
    font-size: 15px;
    margin-top: 35px;
  }
  .col-lg-6 {
    text-align: center !important;
  }
  .img-about-page {
    margin-top: 30px;
    max-width: 200px;
  }
  .email-contact {
    margin-top: 20px;
    font-size: 20px;
  }
  .contact-me-icon {
    font-size: 25px;
  }
  .contact-box {
    display: none !important;
  }
}
