:root {
  --primary-color-text: #5b2e5de3;
  --box-shadow: 0px 0px 10px 0px rgba(97, 66, 93, 0.357);
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("/images/back-page.png");
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  background-color: #ffffffca;
  height: 55px;
}
.navbar-brand {
  font-size: 20px;
}
.navbar-nav {
  font-size: 16px;
}
.about-hero {
  padding: 160px 20px;
}
.about-hero h1 {
  font-size: 50px;
  font-weight: 400 !important;
  letter-spacing: 0.1em;
}
.about-hero h2 {
  font-size: 25px;
  color: var(--primary-color-text);
  opacity: 0.7;
  font-weight: 300;
  margin-top: 40px;
}
.about-hero p {
  font-size: 18px;
  margin-top: 40px;
}
footer h3 {
  font-weight: 400;
}
footer p {
  color: var(--primary-color-text);
}
.img-about-page {
  max-width: 350px;
  border-radius: 5px;
  justify-content: right;
}
.btn-works {
  width: 165px;
  margin-top: 65px;
  background-color: var(--primary-color-text);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.btn-works:hover {
  transform: scale(1.05);
  opacity: 0.8;
  color: white;
  text-decoration: none;
}
.contact-box {
  background-color: rgba(255, 255, 255, 0.12);
  padding: 20px;
  border-radius: 5px;
}
.email-contact {
  font-size: 22px;
}
.contact-me-icon {
  font-size: 30px;
  text-align: center;
}
footer .btn-works {
  margin-top: 10px;
}
footer .contact-link {
  text-decoration: none;
  color: black;
}
footer .contact-link:hover {
  color: #ed5b69;
}
.footer-img {
  width: 30px;
}
@media (max-width: 900px) {
  body {
    margin-top: 60px;
    text-align: center;
    background-position: center;
  }
  .navbar {
    height: 55px auto;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .navbar-nav {
    font-size: 15px;
  }
  .navbar-collapse {
    background-color: #ffffffe2;
    border-radius: 5px;
  }
  .about-hero {
    padding: 20px 0px;
  }
  .about-hero h1 {
    font-size: 30px;
    margin: 10px auto;
  }
  .about-hero h2 {
    font-size: 20px;
    margin: 10px auto;
  }
  .about-hero p {
    font-size: 12px;
    line-height: 1.1;
  }
  .img-about-page {
    margin-top: 30px;
    max-width: 200px;
    border-radius: 5px;
  }
  .contact-me {
    font-size: 30px;
  }
}
